[r2]
type = s3
provider = Cloudflare
access_key_id = @S3_R2_ACCESS_KEY@
secret_access_key = @S3_R2_SECRET_KEY@
region = @S3_R2_STORAGE_REGION@
endpoint = https://@S3_R2_ACCOUNT_ID@.r2.cloudflarestorage.com
no_check_bucket = true
no_head = true
