[constants]
prefix = '__CROSS_TOOLCHAIN_ROOT__' / 'toolchains/llvm/prebuilt/linux-x86_64'
triple = 'armv7a-linux-androideabi'
android_api_level = '__ANDROID_API_LEVEL__'
exec_prefix = prefix / 'bin'
exec_prefix_compiler = exec_prefix / triple + android_api_level + '-'
c_args = ['-march=armv7-a', '-mfpu=neon-vfpv4']
cpp_args = c_args + []


[host_machine]
system = 'android'
kernel = 'linux'
cpu_family = 'arm'
cpu = 'arm'
endian = 'little'

[properties]
needs_exe_wrapper = false

[binaries]
c = ['ccache', exec_prefix_compiler + 'clang'] + c_args
cpp = ['ccache', exec_prefix_compiler + 'clang++'] + cpp_args
ar = exec_prefix / 'llvm-ar'
as = exec_prefix / 'llvm-as'
nm = exec_prefix / 'llvm-nm'
ld = exec_prefix / 'ld.lld'
objcopy = exec_prefix / 'llvm-objcopy'
strip = exec_prefix / 'llvm-strip'
ranlib = exec_prefix / 'llvm-ranlib'
pkg-config = '@DIRNAME@/pkgconf-wrapper.' + triple
