name: _buildx_cross_sysroot_linux
on:
  workflow_call:
    inputs:
      DOCKER_BUILD_VERSION:
        required: true
        type: string
      SYSROOT_LINUX_HEADER_UAPI:
        required: true
        type: string
      SYSROOT_LIBSTDCXX_GCC_VER:
        required: true
        type: string

env:
  GH_TOKEN: ${{ github.token }}
  S3_R2_ACCOUNT_ID: ${{ secrets.S3_R2_ACCOUNT_ID }}
  S3_R2_ACCESS_KEY: ${{ secrets.S3_R2_ACCESS_KEY }}
  S3_R2_SECRET_KEY: ${{ secrets.S3_R2_SECRET_KEY }}
  S3_R2_STORAGE_BUCKET: ${{ secrets.S3_R2_STORAGE_BUCKET }}
  S3_R2_STORAGE_REGION: ${{ secrets.S3_R2_STORAGE_REGION }}

jobs:
  _buildx:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}
    env:
      _PUSH: false
      _image_name_: cross-sysroot-linux${{ inputs.SYSROOT_LINUX_HEADER_UAPI }}-gcc${{ inputs.SYSROOT_LIBSTDCXX_GCC_VER }}
    steps:
      - name: set env `_PUSH=true`
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: echo "_PUSH=true" >> "$GITHUB_ENV"
      - name: clone source
        run: |
          git config --global --add safe.directory "*"

          git init
          git remote add x ${{github.server_url}}/${{ github.repository }}.git
          git fetch --no-tags --prune --no-recurse-submodules --depth=1 x +${{ github.sha }}
          git checkout FETCH_HEAD
      - name: setup rclone for s3 (cloudflare r2)
        run: |
          ./.github/rclone.py
      - name: setup docker qemu
        uses: docker/setup-qemu-action@v3
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          platforms: linux/amd64,linux/arm64
      - name: login to `Docker Hub`
        if: ${{ env._PUSH == 'true' }}
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSCODE }}
      - name: login to `Aliyun ACR`
        if: ${{ env._PUSH == 'true' }}
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY_ALIYUN_ACR }}
          username: ${{ secrets.ALIYUN_ACR_USERNAME }}
          password: ${{ secrets.ALIYUN_ACR_PASSCODE }}
      - name: cross sysroot pull...
        working-directory: ${{ github.workspace }}/cross-sysroot-linux
        run: |
          _archive_prefix_="crosstool-linux${{ inputs.SYSROOT_LINUX_HEADER_UAPI }}-gcc${{ inputs.SYSROOT_LIBSTDCXX_GCC_VER }}"

          ${{ github.workspace }}/.github/rclone copy "r2:${{ env.S3_R2_STORAGE_BUCKET }}/crosstool-ng/${_archive_prefix_}-target-amd64-gnu.tar.gz"  "."
          ${{ github.workspace }}/.github/rclone copy "r2:${{ env.S3_R2_STORAGE_BUCKET }}/crosstool-ng/${_archive_prefix_}-target-arm64-gnu.tar.gz"  "."
          ${{ github.workspace }}/.github/rclone copy "r2:${{ env.S3_R2_STORAGE_BUCKET }}/crosstool-ng/${_archive_prefix_}-target-armhf-gnu.tar.gz"  "."
          ${{ github.workspace }}/.github/rclone copy "r2:${{ env.S3_R2_STORAGE_BUCKET }}/crosstool-ng/${_archive_prefix_}-target-amd64-musl.tar.gz" "."
          ${{ github.workspace }}/.github/rclone copy "r2:${{ env.S3_R2_STORAGE_BUCKET }}/crosstool-ng/${_archive_prefix_}-target-arm64-musl.tar.gz" "."
          ${{ github.workspace }}/.github/rclone copy "r2:${{ env.S3_R2_STORAGE_BUCKET }}/crosstool-ng/${_archive_prefix_}-target-armhf-musl.tar.gz" "."
      - name: build image and push[${{ env._PUSH }}]
        uses: docker/build-push-action@v6
        with:
          pull: true
          push: ${{ env._PUSH }}
          context: cross-sysroot-linux
          platforms: linux/amd64,linux/arm64
          build-args: |
            SYSROOT_LINUX_HEADER_UAPI=${{ inputs.SYSROOT_LINUX_HEADER_UAPI }}
            SYSROOT_LIBSTDCXX_GCC_VER=${{ inputs.SYSROOT_LIBSTDCXX_GCC_VER }}
          tags: |
            ${{ vars.DOCKER_HUB_USERNAME }}/${{ env._image_name_ }}:${{ inputs.DOCKER_BUILD_VERSION }}
