name: _buildx
on:
  workflow_call:
    inputs:
      platforms:
        default: "linux/amd64"
        required: false
        type: string
      build-args:
        default: ""
        required: false
        type: string
      context:
        default: ${{ github.workflow }}
        required: false
        type: string
      tagname:
        default: ${{ github.workflow }}
        required: false
        type: string
      tagvers:
        default: ${{ github.sha }}
        required: false
        type: string
      latest:
        default: true
        required: false
        type: boolean
      target:
        default: ""
        required: false
        type: string

jobs:
  _buildx:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}
    env:
      _PUSH: false
    steps:
      - name: Set ENV `_PUSH=true`
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: echo "_PUSH=true" >> "$GITHUB_ENV"
      - name: Git Checkout
        uses: actions/checkout@v6
      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          platforms: ${{ inputs.platforms }}
      - name: Login to Docker Hub
        if: ${{ env._PUSH == 'true' }}
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSCODE }}
      - name: Login to Aliyun ACR
        if: ${{ env._PUSH == 'true' && inputs.latest }}
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY_ALIYUN_ACR }}
          username: ${{ secrets.ALIYUN_ACR_USERNAME }}
          password: ${{ secrets.ALIYUN_ACR_PASSCODE }}
      - name: Build Image and Push
        if: ${{ inputs.tagvers != '' }}
        uses: docker/build-push-action@v6
        with:
          pull: true
          push: ${{ env._PUSH }}
          context: ${{ github.workspace }}/${{ inputs.context }}
          target: ${{ inputs.target }}
          platforms: ${{ inputs.platforms }}
          build-args: ${{ inputs.build-args }}
          tags: |
            ${{ vars.DOCKER_HUB_USERNAME }}/${{ inputs.tagname }}:${{ inputs.tagvers }}
      - name: Build Image and Push (latest)
        if: ${{ env._PUSH == 'true' && inputs.latest }}
        uses: docker/build-push-action@v6
        with:
          pull: true
          push: ${{ env._PUSH }}
          context: ${{ github.workspace }}/${{ inputs.context }}
          target: ${{ inputs.target }}
          platforms: ${{ inputs.platforms }}
          build-args: ${{ inputs.build-args }}
          tags: |
            ${{ vars.DOCKER_HUB_USERNAME }}/${{ inputs.tagname }}:latest
            ${{ vars.REGISTRY_ALIYUN_ACR }}/${{ vars.DOCKER_HUB_USERNAME }}/${{ inputs.tagname }}:latest
