name: cross-sysroot-linux
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/_buildx_cross_sysroot_linux.yml'
      - '.github/workflows/cross-sysroot-linux.yml'
      - 'cross-sysroot-linux/Dockerfile'

jobs:
  _preset:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}
    outputs:
      pkgver: ${{ steps.set-pkgver.outputs.pkgver }}
    steps:
      - name: set env `DOCKER_BUILD_VERSION`
        id: set-pkgver
        run: |
          DOCKER_BUILD_VERSION="$(date -u '+%Y%m%dT%H%M%SZ' )-${GITHUB_SHA:0:7}"
          printf "\e[1m\e[33m%s\e[0m\n" "DOCKER_BUILD_VERSION: $DOCKER_BUILD_VERSION"
          echo "pkgver=$DOCKER_BUILD_VERSION" >> "$GITHUB_OUTPUT"
  linux310-gcc7:
    needs: _preset
    secrets: inherit
    uses: ./.github/workflows/_buildx_cross_sysroot_linux.yml
    with:
      DOCKER_BUILD_VERSION: ${{ needs._preset.outputs.pkgver }}
      SYSROOT_LINUX_HEADER_UAPI: "310"
      SYSROOT_LIBSTDCXX_GCC_VER: "7"
