name: linux-cross-cgo
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/_buildx.yml'
      - '.github/workflows/linux-cross-cgo.yml'
      - 'linux-cross-cgo/Dockerfile'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/_buildx.yml'
      - '.github/workflows/linux-cross-cgo.yml'
      - 'linux-cross-cgo/Dockerfile'

jobs:
  linux310-gcc7:
    secrets: inherit
    uses: ./.github/workflows/_buildx.yml
    with:
      platforms: 'linux/amd64,linux/arm64'
      build-args: |
        SYSROOT_LINUX_HEADER_UAPI=310
        SYSROOT_LIBSTDCXX_GCC_VER=7
